admin_password: "{{ lookup('password', '/dev/null length=16 chars=ascii_letters,digits') }}"
cookie_secret: "{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits') }}"
erlang_cookie: "{{ lookup('password', '/dev/null length=16 chars=ascii_letters,digits') }}"
