# GCP Configuration
gcp_project              = "your-gcp-project-id"
gcp_project_id           = "your-gcp-project-number"
gcp_service_account_file = "path/to/your/service-account.json"
region                   = "australia-southeast1"

# Network Configuration
vpc_name                 = "ansible"
vpc_network              = "https://www.googleapis.com/compute/v1/projects/your-gcp-project-id/global/networks/default"
subnet_cidr              = "10.152.0.0/20"

# Instance Configuration
source_image             = "projects/debian-cloud/global/images/debian-12-bookworm-v20250709"
environment              = "development"
firewall_ports           = ["22", "80", "8080", "443", "6443"]

# Load Balancer Configuration
join_controllers         = true
lb_fixed_ip              = "10.152.0.6"

# Zone CIDR Configuration
zone_cidrs = {
  "a" = "10.152.1.0/24"
  "b" = "10.152.2.0/24"
  "c" = "10.152.3.0/24"
}

# Node Group Configuration
node_groups = {
  controller = {
    count          = 3
    machine_type   = "e2-medium"
    disk_size_gb   = 40
    disk_type      = "pd-balanced"
    base_name      = "dev-controller"
    base_address   = 10
    can_ip_forward = true
    labels = {
      role = "k8s"
      tier = "controller"
    }
  }
  worker = {
    count          = 3
    machine_type   = "e2-medium"
    disk_size_gb   = 40
    disk_type      = "pd-standard"
    base_name      = "dev-worker"
    base_address   = 11
    can_ip_forward = true
    labels = {
      role = "k8s"
      tier = "worker"
    }
  }
}