---
# Configures Felix for istio.
apiVersion: projectcalico.org/v3
kind: FelixConfiguration
metadata:
  name: default
spec:
  bpfConnectTimeLoadBalancing: {{ calico_bpf_connect_time_load_balancing | default('TCP')}}
